In [2]:
import pandas as pd

In [10]:
import pandas as pd



import os
os.getcwd()

df

df = pd.read_csv('data.csv', index_col=['Day'])

df



df.describe()

df.loc[:,'Temperature']

df.loc['Fri','Temperature']

df.loc['Sun','Humidity']

df

df.iloc[4,0]

df.loc[:,['Weather','Temperature']]

df.iloc[:,0:2]

df.iloc[0:5,1:4]

df.loc['Sat',:]

df.loc[['Mon','Thurs'],'Temperature']

df.loc['Wed',['Temperature','Wind']]

df.iolc[[0,1],[1]]

AttributeError: 'DataFrame' object has no attribute 'iolc'

In [5]:
df=pd.read_csv('data.csv')

In [6]:
df

     Day Weather  Temperature  Wind  Humidity
0    Mon   Sunny        10.50    13         9
1    Tue   Sunny        14.00    18         6
2    Wed   Sunny        15.60    26        10
3  Thurs  Cloudy         7.90     8         7
4    Fri   Sunny         5.91    15         8
5    Sat  Cloudy        15.17    29         4
6    Sun  Cloudy        18.00    30         5

In [9]:
df.info

df.tail

df.head

<bound method NDFrame.head of      Day Weather  Temperature  Wind  Humidity
0    Mon   Sunny        10.50    13         9
1    Tue   Sunny        14.00    18         6
2    Wed   Sunny        15.60    26        10
3  Thurs  Cloudy         7.90     8         7
4    Fri   Sunny         5.91    15         8
5    Sat  Cloudy        15.17    29         4
6    Sun  Cloudy        18.00    30         5>