In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('developer_survey_2019\survey_results_public.csv')

In [21]:
df['Respondent']
df.set_index('EdLevel',inplace=True)
df.reset_index(inplace=True)

KeyError: "None of ['EdLevel'] are in the columns"

In [22]:
import os
os.getcwd()

'C:\\Users\\HP\\Untitled Folder'

In [23]:
df.shape

(88883, 84)

In [19]:
df.head

<bound method NDFrame.head of        Respondent                                         MainBranch Hobbyist  \
0               1             I am a student who is learning to code      Yes
1               2             I am a student who is learning to code       No
2               3  I am not primarily a developer, but I write co...      Yes
3               4                     I am a developer by profession       No
4               5                     I am a developer by profession      Yes
...           ...                                                ...      ...
88878       88377                                                NaN      Yes
88879       88601                                                NaN       No
88880       88802                                                NaN       No
88881       88816                                                NaN       No
88882       88863                                                NaN      Yes

                                             OpenSourcer  \
0                                                  Never
1                                Less than once per year
2                                                  Never
3                                                  Never
4                             Once a month or more often
...                                                  ...
88878  Less than once a month but more than once per ...
88879                                              Never
88880                                              Never
88881                                              Never
88882                            Less than once per year

                                              OpenSource  \
0      The quality of OSS and closed source software ...
1      The quality of OSS and closed source software ...
2      The quality of OSS and closed source software ...
3      The quality of OSS and closed source software ...
4      OSS is, on average, of HIGHER quality than pro...
...                                                  ...
88878  The quality of OSS and closed source software ...
88879  The quality of OSS and closed source software ...
88880                                                NaN
88881  OSS is, on average, of HIGHER quality than pro...
88882  OSS is, on average, of HIGHER quality than pro...

                                              Employment  \
0                 Not employed, and not looking for work
1                     Not employed, but looking for work
2                                     Employed full-time
3                                     Employed full-time
4                                     Employed full-time
...                                                  ...
88878             Not employed, and not looking for work
88879                                                NaN
88880                                 Employed full-time
88881  Independent contractor, freelancer, or self-em...
88882             Not employed, and not looking for work

                      Country         Student  \
0              United Kingdom              No
1      Bosnia and Herzegovina  Yes, full-time
2                    Thailand              No
3               United States              No
4                     Ukraine              No
...                       ...             ...
88878                  Canada              No
88879                     NaN             NaN
88880                     NaN             NaN
88881                     NaN             NaN
88882                   Spain  Yes, full-time

                                                 EdLevel  \
0                              Primary/elementary school
1      Secondary school (e.g. American high school, G...
2               Bachelor’s degree (BA, BS, B.Eng., etc.)
3               Bachelor’s degree (BA, BS, B.Eng., etc.)
4               Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                  ...
88878                          Primary/elementary school
88879                                                NaN
88880                                                NaN
88881                                                NaN
88882                 Professional degree (JD, MD, etc.)

                                          UndergradMajor  ...  \
0                                                    NaN  ...
1                                                    NaN  ...
2                          Web development or web design  ...
3      Computer science, computer engineering, or sof...  ...
4      Computer science, computer engineering, or sof...  ...
...                                                  ...  ...
88878                                                NaN  ...
88879                                                NaN  ...
88880                                                NaN  ...
88881                                                NaN  ...
88882  Computer science, computer engineering, or sof...  ...

                                  WelcomeChange  \
0       Just as welcome now as I felt last year
1       Just as welcome now as I felt last year
2       Just as welcome now as I felt last year
3       Just as welcome now as I felt last year
4       Just as welcome now as I felt last year
...                                         ...
88878                                       NaN
88879                                       NaN
88880                                       NaN
88881                                       NaN
88882  Somewhat less welcome now than last year

                                            SONewContent   Age Gender Trans  \
0      Tech articles written by other developers;Indu...  14.0    Man    No
1      Tech articles written by other developers;Indu...  19.0    Man    No
2      Tech meetups or events in your area;Courses on...  28.0    Man    No
3      Tech articles written by other developers;Indu...  22.0    Man    No
4      Tech meetups or events in your area;Courses on...  30.0    Man    No
...                                                  ...   ...    ...   ...
88878  Tech articles written by other developers;Tech...   NaN    Man    No
88879                                                NaN   NaN    NaN   NaN
88880                                                NaN   NaN    NaN   NaN
88881                                                NaN   NaN    NaN   NaN
88882  Tech articles written by other developers;Indu...  18.0    Man    No

                     Sexuality  \
0      Straight / Heterosexual
1      Straight / Heterosexual
2      Straight / Heterosexual
3      Straight / Heterosexual
4      Straight / Heterosexual
...                        ...
88878                      NaN
88879                      NaN
88880                      NaN
88881                      NaN
88882  Straight / Heterosexual

                                               Ethnicity Dependents  \
0                                                    NaN         No
1                                                    NaN         No
2                                                    NaN        Yes
3                           White or of European descent         No
4               White or of European descent;Multiracial         No
...                                                  ...        ...
88878                                                NaN         No
88879                                                NaN        NaN
88880                                                NaN        NaN
88881                                                NaN        NaN
88882  Hispanic or Latino/Latina;White or of European...         No

                SurveyLength                  SurveyEase
0      Appropriate in length  Neither easy nor difficult
1      Appropriate in length  Neither easy nor difficult
2      Appropriate in length  Neither easy nor difficult
3      Appropriate in length                        Easy
4      Appropriate in length                        Easy
...                      ...                         ...
88878  Appropriate in length                        Easy
88879                    NaN                         NaN
88880                    NaN                         NaN
88881                    NaN                         NaN
88882  Appropriate in length                        Easy

[88883 rows x 85 columns]>

In [20]:
df.tail

<bound method NDFrame.tail of        Respondent                                         MainBranch Hobbyist  \
0               1             I am a student who is learning to code      Yes
1               2             I am a student who is learning to code       No
2               3  I am not primarily a developer, but I write co...      Yes
3               4                     I am a developer by profession       No
4               5                     I am a developer by profession      Yes
...           ...                                                ...      ...
88878       88377                                                NaN      Yes
88879       88601                                                NaN       No
88880       88802                                                NaN       No
88881       88816                                                NaN       No
88882       88863                                                NaN      Yes

                                             OpenSourcer  \
0                                                  Never
1                                Less than once per year
2                                                  Never
3                                                  Never
4                             Once a month or more often
...                                                  ...
88878  Less than once a month but more than once per ...
88879                                              Never
88880                                              Never
88881                                              Never
88882                            Less than once per year

                                              OpenSource  \
0      The quality of OSS and closed source software ...
1      The quality of OSS and closed source software ...
2      The quality of OSS and closed source software ...
3      The quality of OSS and closed source software ...
4      OSS is, on average, of HIGHER quality than pro...
...                                                  ...
88878  The quality of OSS and closed source software ...
88879  The quality of OSS and closed source software ...
88880                                                NaN
88881  OSS is, on average, of HIGHER quality than pro...
88882  OSS is, on average, of HIGHER quality than pro...

                                              Employment  \
0                 Not employed, and not looking for work
1                     Not employed, but looking for work
2                                     Employed full-time
3                                     Employed full-time
4                                     Employed full-time
...                                                  ...
88878             Not employed, and not looking for work
88879                                                NaN
88880                                 Employed full-time
88881  Independent contractor, freelancer, or self-em...
88882             Not employed, and not looking for work

                      Country         Student  \
0              United Kingdom              No
1      Bosnia and Herzegovina  Yes, full-time
2                    Thailand              No
3               United States              No
4                     Ukraine              No
...                       ...             ...
88878                  Canada              No
88879                     NaN             NaN
88880                     NaN             NaN
88881                     NaN             NaN
88882                   Spain  Yes, full-time

                                                 EdLevel  \
0                              Primary/elementary school
1      Secondary school (e.g. American high school, G...
2               Bachelor’s degree (BA, BS, B.Eng., etc.)
3               Bachelor’s degree (BA, BS, B.Eng., etc.)
4               Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                  ...
88878                          Primary/elementary school
88879                                                NaN
88880                                                NaN
88881                                                NaN
88882                 Professional degree (JD, MD, etc.)

                                          UndergradMajor  ...  \
0                                                    NaN  ...
1                                                    NaN  ...
2                          Web development or web design  ...
3      Computer science, computer engineering, or sof...  ...
4      Computer science, computer engineering, or sof...  ...
...                                                  ...  ...
88878                                                NaN  ...
88879                                                NaN  ...
88880                                                NaN  ...
88881                                                NaN  ...
88882  Computer science, computer engineering, or sof...  ...

                                  WelcomeChange  \
0       Just as welcome now as I felt last year
1       Just as welcome now as I felt last year
2       Just as welcome now as I felt last year
3       Just as welcome now as I felt last year
4       Just as welcome now as I felt last year
...                                         ...
88878                                       NaN
88879                                       NaN
88880                                       NaN
88881                                       NaN
88882  Somewhat less welcome now than last year

                                            SONewContent   Age Gender Trans  \
0      Tech articles written by other developers;Indu...  14.0    Man    No
1      Tech articles written by other developers;Indu...  19.0    Man    No
2      Tech meetups or events in your area;Courses on...  28.0    Man    No
3      Tech articles written by other developers;Indu...  22.0    Man    No
4      Tech meetups or events in your area;Courses on...  30.0    Man    No
...                                                  ...   ...    ...   ...
88878  Tech articles written by other developers;Tech...   NaN    Man    No
88879                                                NaN   NaN    NaN   NaN
88880                                                NaN   NaN    NaN   NaN
88881                                                NaN   NaN    NaN   NaN
88882  Tech articles written by other developers;Indu...  18.0    Man    No

                     Sexuality  \
0      Straight / Heterosexual
1      Straight / Heterosexual
2      Straight / Heterosexual
3      Straight / Heterosexual
4      Straight / Heterosexual
...                        ...
88878                      NaN
88879                      NaN
88880                      NaN
88881                      NaN
88882  Straight / Heterosexual

                                               Ethnicity Dependents  \
0                                                    NaN         No
1                                                    NaN         No
2                                                    NaN        Yes
3                           White or of European descent         No
4               White or of European descent;Multiracial         No
...                                                  ...        ...
88878                                                NaN         No
88879                                                NaN        NaN
88880                                                NaN        NaN
88881                                                NaN        NaN
88882  Hispanic or Latino/Latina;White or of European...         No

                SurveyLength                  SurveyEase
0      Appropriate in length  Neither easy nor difficult
1      Appropriate in length  Neither easy nor difficult
2      Appropriate in length  Neither easy nor difficult
3      Appropriate in length                        Easy
4      Appropriate in length                        Easy
...                      ...                         ...
88878  Appropriate in length                        Easy
88879                    NaN                         NaN
88880                    NaN                         NaN
88881                    NaN                         NaN
88882  Appropriate in length                        Easy

[88883 rows x 85 columns]>

In [21]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [22]:
df.tail()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [8]:
df.loc[0:3,["Respondent","OpenSourcer"]]

   Respondent              OpenSourcer
0           1                    Never
1           2  Less than once per year
2           3                    Never
3           4                    Never

In [9]:
df.iloc[[0,3],[0,3]]

   Respondent OpenSourcer
0           1       Never
3           4       Never

In [12]:
df.loc[0:4,"Respondent":"OpenSourcer"]

,Respondent,MainBranch,Hobbyist,OpenSourcer
0,1,I am a student who is learning to code,Yes,Never
1,2,I am a student who is learning to code,No,Less than once per year
2,3,"I am not primarily a developer, but I write co...",Yes,Never
3,4,I am a developer by profession,No,Never
4,5,I am a developer by profession,Yes,Once a month or more often

In [17]:
r=[1,2,3,5,6]
c=[0,2,6,8,9]
df.iloc[r,c]

,Respondent,Hobbyist,Country,EdLevel,UndergradMajor
1,2,No,Bosnia and Herzegovina,"Secondary school (e.g. American high school, G...",NaN
2,3,Yes,Thailand,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design
3,4,No,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof..."
5,6,Yes,Canada,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics
6,7,No,Ukraine,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele..."

In [19]:
df.loc[df.Hobbyist=="Yes","Country"]

0        United Kingdom
2              Thailand
4               Ukraine
5                Canada
7                 India
              ...
88872    Czech Republic
88875          Pakistan
88877     United States
88878            Canada
88882             Spain
Name: Country, Length: 71257, dtype: object

In [24]:
df.loc[(df.Hobbyist=="Yes") & (df.Country=="Canada") ,"Hobbyist"]

5        Yes
20       Yes
36       Yes
78       Yes
99       Yes
        ...
88664    Yes
88751    Yes
88771    Yes
88801    Yes
88878    Yes
Name: Hobbyist, Length: 2685, dtype: object

In [30]:
df.iloc[list((df.Hobbyist=="Yes") & (df.Country=="Canada")) ,5:10]

,Employment,Country,Student,EdLevel,UndergradMajor
5,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics
20,NaN,Canada,NaN,NaN,NaN
36,Employed part-time,Canada,"Yes, full-time",Associate degree,"A social science (ex. anthropology, psychology..."
78,Employed full-time,Canada,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof..."
99,Employed full-time,Canada,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof..."
...,...,...,...,...,...
88664,Employed part-time,Canada,"Yes, full-time",NaN,"Computer science, computer engineering, or sof..."
88751,"Not employed, but looking for work",Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN
88771,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN
88801,Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof..."
88878,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN

In [41]:
df.sort_index(axis=1)

,Age,Age1stCode,BetterLife,BlockchainIs,BlockchainOrg,CareerSat,CodeRev,CodeRevHrs,CompFreq,CompTotal,...,WebFrameDesireNextYear,WebFrameWorkedWith,WelcomeChange,WorkChallenge,WorkLoc,WorkPlan,WorkRemote,WorkWeekHrs,YearsCode,YearsCodePro
0,14.0,10,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Flask;jQuery,Django;Flask,Just as welcome now as I felt last year,NaN,NaN,NaN,NaN,NaN,4,NaN
1,19.0,17,Yes,Useful across many domains and could change ma...,NaN,NaN,NaN,NaN,NaN,NaN,...,Django,Django,Just as welcome now as I felt last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28.0,22,Yes,NaN,NaN,Slightly satisfied,No,NaN,Monthly,23000.0,...,Other(s):,NaN,Just as welcome now as I felt last year,Distracting work environment;Inadequate access...,Home,There's no schedule or spec; I work on what se...,Less than once per month / Never,40.0,3,1
3,22.0,16,Yes,"Useful for decentralized currency (i.e., Bitcoin)",Not at all,Very satisfied,No,NaN,Yearly,61000.0,...,NaN,NaN,Just as welcome now as I felt last year,NaN,Home,There's no schedule or spec; I work on what se...,Less than once per month / Never,80.0,3,Less than 1 year
4,30.0,14,Yes,NaN,Not at all,Very dissatisfied,"Yes, because I see value in code review",NaN,NaN,NaN,...,Flask;jQuery;React.js;Spring,Django;Express;Flask;jQuery;React.js;Spring,Just as welcome now as I felt last year,Being tasked with non-development work;Inadequ...,Office,There is a schedule and/or spec (made by me or...,A few days each month,55.0,16,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,NaN,NaN,Yes,Useful across many domains and could change ma...,NaN,NaN,NaN,NaN,NaN,NaN,...,jQuery;Vue.js,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,18.0,11,Yes,"Useful for decentralized currency (i.e., Bitcoin)",NaN,NaN,NaN,NaN,NaN,NaN,...,Django,Django;jQuery;React.js,Somewhat less welcome now than last year,NaN,NaN,NaN,NaN,NaN,8,3

In [45]:
df.sort_index(axis=1,ascending=False)

,YearsCodePro,YearsCode,WorkWeekHrs,WorkRemote,WorkPlan,WorkLoc,WorkChallenge,WelcomeChange,WebFrameWorkedWith,WebFrameDesireNextYear,...,CompTotal,CompFreq,CodeRevHrs,CodeRev,CareerSat,BlockchainOrg,BlockchainIs,BetterLife,Age1stCode,Age
0,NaN,4,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,Django;Flask,Flask;jQuery,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,10,14.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Just as welcome now as I felt last year,Django,Django,...,NaN,NaN,NaN,NaN,NaN,NaN,Useful across many domains and could change ma...,Yes,17,19.0
2,1,3,40.0,Less than once per month / Never,There's no schedule or spec; I work on what se...,Home,Distracting work environment;Inadequate access...,Just as welcome now as I felt last year,NaN,Other(s):,...,23000.0,Monthly,NaN,No,Slightly satisfied,NaN,NaN,Yes,22,28.0
3,Less than 1 year,3,80.0,Less than once per month / Never,There's no schedule or spec; I work on what se...,Home,NaN,Just as welcome now as I felt last year,NaN,NaN,...,61000.0,Yearly,NaN,No,Very satisfied,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,16,22.0
4,9,16,55.0,A few days each month,There is a schedule and/or spec (made by me or...,Office,Being tasked with non-development work;Inadequ...,Just as welcome now as I felt last year,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,...,NaN,NaN,NaN,"Yes, because I see value in code review",Very dissatisfied,Not at all,NaN,Yes,14,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,jQuery,jQuery;Vue.js,...,NaN,NaN,NaN,NaN,NaN,NaN,Useful across many domains and could change ma...,Yes,NaN,NaN
88879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,3,8,NaN,NaN,NaN,NaN,NaN,Somewhat less welcome now than last year,Django;jQuery;React.js,Django,...,NaN,NaN,NaN,NaN,NaN,NaN,"Useful for decentralized currency (i.e., Bitcoin)",Yes,11,18.0

In [48]:
df.sample(15)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
80292,80794,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,NaN,NaN,Man,No,NaN,White or of European descent,Yes,Too long,Easy
32588,32787,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Spain,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
66820,67250,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Egypt,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,43.0,Man,No,Straight / Heterosexual,Middle Eastern,Yes,Too long,Easy
51940,52275,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41579,41843,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Taiwan,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Easy
67050,67482,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,NaN,36.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
31075,31261,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Neither easy nor difficult
53337,53676,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,27.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
39061,39302,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Professional degree (JD, MD, etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,26.0,Man,NaN,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
13545,13608,I am a developer by profession,Yes,Never,NaN,Employed part-time,Estonia,No,Some college/university study without earning ...,Web development or web design,...,NaN,Tech articles written by other developers;Indu...,27.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
25448,25597,"I used to be a developer by profession, but no...",Yes,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",United Kingdom,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,46.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
38692,38927,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
23216,23346,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
78581,79073,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",...,Just as welcome now as I felt last year,NaN,28.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
66741,67169,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,"Yes, part-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,28.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult

In [2]:
left={"rollno":[1,2,3,4,5],"name":["abc","xyz","lmn","pqr","def"],"Subject":["a","h","t","o","y"]}

In [3]:
left=pd.DataFrame(left)

In [4]:
left

   rollno name Subject
0       1  abc       a
1       2  xyz       h
2       3  lmn       t
3       4  pqr       o
4       5  def       y

In [5]:
right={"rollno":[1,2,3,6],"name":["abc","xyz","lmn","yui"],"Subject":["a","h","p","u"]}

In [6]:
right=pd.DataFrame(right)

In [7]:
right

   rollno name Subject
0       1  abc       a
1       2  xyz       h
2       3  lmn       p
3       6  yui       u

In [8]:
left,right

(   rollno name Subject
 0       1  abc       a
 1       2  xyz       h
 2       3  lmn       t
 3       4  pqr       o
 4       5  def       y,
    rollno name Subject
 0       1  abc       a
 1       2  xyz       h
 2       3  lmn       p
 3       6  yui       u)

In [56]:
print(left,right)

   rollno name Subject
0       1  abc       a
1       2  xyz       h
2       3  lmn       t
3       4  pqr       o
4       5  def       y    rollno name Subject
0       1  abc       a
1       2  xyz       h
2       3  lmn       p
3       6  yui       u

In [58]:
pd.merge(left,right,on="rollno")

   rollno name_x Subject_x name_y Subject_y
0       1    abc         a    abc         a
1       2    xyz         h    xyz         h
2       3    lmn         t    lmn         p

In [60]:
pd.merge(left,right,on=["rollno","Subject"])

   rollno name_x Subject name_y
0       1    abc       a    abc
1       2    xyz       h    xyz

In [61]:
pd.merge(left,right,on="rollno",how="left")

   rollno name_x Subject_x name_y Subject_y
0       1    abc         a    abc         a
1       2    xyz         h    xyz         h
2       3    lmn         t    lmn         p
3       4    pqr         o    NaN       NaN
4       5    def         y    NaN       NaN

In [62]:
pd.merge(left,right,on="Subject",how="right")

   rollno_x name_x Subject  rollno_y name_y
0       1.0    abc       a         1    abc
1       2.0    xyz       h         2    xyz
2       NaN    NaN       p         3    lmn
3       NaN    NaN       u         6    yui

In [65]:
pd.merge(left,right,on="Subject",how="outer")

   rollno_x name_x Subject  rollno_y name_y
0       1.0    abc       a       1.0    abc
1       2.0    xyz       h       2.0    xyz
2       3.0    lmn       t       NaN    NaN
3       4.0    pqr       o       NaN    NaN
4       5.0    def       y       NaN    NaN
5       NaN    NaN       p       3.0    lmn
6       NaN    NaN       u       6.0    yui

In [14]:
result=pd.concat([left,right])

In [11]:
frame=[left,right]

In [15]:
pd.concat(frame)

   rollno name Subject
0       1  abc       a
1       2  xyz       h
2       3  lmn       t
3       4  pqr       o
4       5  def       y
0       1  abc       a
1       2  xyz       h
2       3  lmn       p
3       6  yui       u

In [13]:
result

   rollno name Subject
0       1  abc       a
1       2  xyz       h
2       3  lmn       t
3       4  pqr       o
4       5  def       y
0       1  abc       a
1       2  xyz       h
2       3  lmn       p
3       6  yui       u